@import "constants/colors";
@import "helpers/responsive";
@import "helpers/mixins";

@mixin getServiceSpec($i) {
    &:nth-of-type(#{$i}) {
        animation-delay: 0.2s * $i;
        margin-right: 0;
        margin-bottom: 30px;

        @include media(">xs") {
            margin-right: 30px;
            @if $i % 2 == 0 {
                margin-right: 0;
            }
        }

        @include media(">sm") {
            margin-right: 30px;
            @if $i % 3 == 0 {
                margin-right: 0;
            }
        }

        @include media(">md") {
            margin-right: 30px;
            @if $i % 4 == 0 {
                margin-right: 0;
            }
        }
    }
}

.pattern {
    width: 100%;
    margin: 0 auto;
    display: block;

    @include media(">sm") {
        max-width: 75%;
    }

    @include media(">md") {
        max-width: 60%;
    }

    @include media(">lg") {
        max-width: 50%;
    }
}

.service {
    @include fadeUp();
    position: relative;
    display: inline-block;
    background-color: $colorSky3;
    padding-bottom: 75%;

    @for $i from 1 through 8 {
        @include getServiceSpec($i);
    }

    @include media("<=xs") {
        width: 100%;
    }

    @include media(">xs") {
        width: calc(100% / 2 - 30px / 2);
        padding-bottom: 50%;
    }

    @include media(">sm") {
        width: calc(100% / 3 - 60px / 3);
        padding-bottom: 30%;
    }

    @include media(">md") {
        width: calc(100% / 4 - 90px / 4);
        padding-bottom: 25%;
    }

    @include media(">lg") {
        height: 250px;
        padding-bottom: 0;
    }
}

.cover {
    background: $colorSky3;
    padding-bottom: 25%;
    position: relative;

    .inner {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & > h1 {
            color: $colorNavy;
            font-size: 3rem;

            & > span {
                font-weight: 300;
            }
        }

        & > p {
            font-size: 1.2rem;
            margin-bottom: 2em;
        }
    }
}

.more {
    padding: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: $colorSky3 transparent transparent transparent;
    transform: rotate(360deg);
}

.vertical-wrap {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;

    & > span {
        color: $colorNavy;
        font-size: 1.8rem;
        display: inline-block;
        vertical-align: middle;
    }

    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        opacity: 0.2;
    }

    & > .hover-content {
        display: none;
        cursor: pointer;
    }

    &:not(.disabled):hover {
        & > .hover-content {
            position: absolute;
            background: $colorInfo;
            color: $colorNavy;
            border: 1px solid #f2f2f2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            & > h3 {
                @include fadeDown(0.25);
                font-size: 1.8rem;

                & > span {
                    font-weight: 300;
                }
            }
        }
    }
}

.creator-list {
    width: 100%;
    margin: 0 auto;
    display: block;

    @include media(">sm") {
        max-width: 600px;
    }

    @include media(">md") {
        max-width: 960px;
    }

    @include media(">lg") {
        max-width: 80%;
    }

    .cell {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        @include media(">sm") {
            width: 50%;
        }

        @include media(">md") {
            width: calc(100% / 3);
        }

        @include media(">lg") {
            width: 25%;
        }
    }

    .creator {
        @include parallelogram();
        background: $colorTintGreen2;
        margin: 0 10px 20px 10px;
        border-radius: 12px;
        text-align: center;
        padding: 20px 10px;

        @include media(">xs") {
            padding: 30px 20px;
            min-height: 150px;
        }

        & > h4 {
            font-weight: 500;
            font-size: 1.2rem;
            margin-bottom: 0.9em;
        }

        & > p {
            color: $colorGray;
            text-transform: uppercase;
        }
    }
}

.landscape {
    background-image: url('/landscape.jpg');
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: cover;
    padding-bottom: 20%;
    position: relative;

    .inner {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & > h2 {
            color: $colorNavy;
            font-size: 2.4rem;
            text-transform: uppercase;
            margin-bottom: 0.6em;

            & > span {
                font-weight: 300;
            }
        }
    }
}
