@import "constants/colors.scss"; // 루트 import의 경우 직접 파일 정의로 갈수는 없는가 ?

@mixin common-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav {
    padding: 0 15px;
    display: inline-block;
    @include common-nav(); // include가 위로 위치하게 하고 싶다.

    @media (min-width: 640px) {
        border: 1px solid $colorPink;
    }
}
