{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "targets": {
                        "browsers": ["last 2 versions", ">= 5% in KR"]
                    },
                    "useBuiltIns": "usage",
                    "corejs": 3,
                    "shippedProposals": true
                }
            }
        ],
        "@babel/preset-react"
    ]
}