.headline {
    margin: 0;
    padding: 0;
    line-height: 1.6em;

    &.bold {
        font-weight: bold;
    }

    &.left {
        text-align: left;
    }

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }
}

$heading-min: 1;
$heading-max: 6;

@for $i from $heading-max through length($heading-min) {
    .headline-#{$i} {
        $font-size: 48 - 8 * ($i - 1);
        $margin-bottom: 32 - 4 * ($i - 1);
        font-size: #{$font-size}px;

        &.margin {
            margin-bottom: #{$margin-bottom}px;
        }
    }
}
