@import 'helpers/_mixins';
@import 'constants/colors';
@import 'styles/libraries/_functions';

.menu-item {
    @include reset-list-style();
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 4px;

    &:last-child {
        margin: 0;
    }

    &:hover {
        background-color: $primaryColor;
        color: #fff;
    }

    &:focus {
        background-color: $primaryColor;
        color: #fff;
    }
}
