.color {
    color: yellow;

    &.active_hover {
        &:hover {
            color: blue;
        }
    }

    &.active_under {
        border-bottom: 1px solid black;
    }

    &.active_radius {
        border-radius: 15px;
    }
}

.background {
    background-color: red;
}

%div {
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
}

.content-box {
    @extend %div;
    box-sizing: content-box;
}

.border-box {
    @extend %div;
    box-sizing: border-box;
}
