// 임시 컬러 작성 중
$colorPink: #ea4c89;
$colorGreen: #17da9c;
$colorGreen2: #4fc2c2;
$colorTintGreen2: #67d8d8;
$colorGreen3: #b2fdc9;
$colorDarkGreen: #209090;
$colorDarkGreenHover: #0e6666;
$colorNavy: #10101b;
$colorSky: #e4fcfc;
$colorSky2: #b9ffeb;
$colorSky3: #bdf7f7;
$colorInfo: #00c9c0;
$colorGray1: #898989;
$colorGray: #6c6d80;
$colorLightGray: #eef1f2;
