@import 'constants/colors';

.wrapper {
    position: relative;
    outline: 0;
    border: 1px solid transparent;

    &.frame {
        padding: 0.6rem;
    }

    &.button {
        cursor: pointer;
    }

    &:focus {
        border: 1px solid $primaryColor;
    }
}
