@import "constants/colors";
@import "helpers/_responsive";
@import "helpers/_mixins";

.headline {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.margin {
    margin-bottom: 0.6em;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.headline-1 {
    font-size: 2.1rem;

    @include media(">xs") {
        font-size: 2.4rem;
    }

    @include media(">sm") {
        font-size: 2.7rem;
    }

    @include media(">md") {
        font-size: 3rem;
    }
}

.headline-2 {
    font-size: 1.5rem;

    @include media(">xs") {
        font-size: 1.8rem;
    }

    @include media(">sm") {
        font-size: 2.1rem;
    }

    @include media(">md") {
        font-size: 2.4rem;
    }
}

.headline-3 {
    font-size: 1.8rem;
}

.headline-4 {
    font-size: 1.2rem;
}
