@import "constants/colors";
@import "helpers/responsive";

.section {
    margin-bottom: 1.8rem;

    @include media(">sm") {
        margin-bottom: 3.6rem;
    }

    @include media(">md") {
        margin-bottom: 5.4rem;
    }
}

.title {
    text-align: center;

    & > span {
        font-weight: 300;
        font-size: 1.8rem;
        margin-bottom: 1em;
        display: block;
    }
}

.content {
    position: relative;
}
