@import "constants/colors";
@import "helpers/responsive";

.section {
    margin-bottom: 1.8rem;

    @include media(">sm") {
        margin-bottom: 3.6rem;
    }

    @include media(">md") {
        margin-bottom: 5.4rem;
    }
}

.title {
    text-align: center;
}

.content {
    position: relative;
}
