@mixin nowrap() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin parallelogram() {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

// forwards: 마지막 keyframe에 의해 설정된 값을 유지

@mixin fadeUp($speed: 1) {
    animation: fade-up #{$speed}s cubic-bezier(0.2, 0.3, 0.25, 0.9) forwards;
    opacity: 0;
}

@mixin fadeDown($speed: 1) {
    animation: fade-down #{$speed}s cubic-bezier(0.2, 0.3, 0.25, 0.9) forwards;
    opacity: 0;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
    }
}
