@import "constants/colors";

.section {
    margin-bottom: 5.4rem;
}

.section-title {
    text-align: center;

    & > span {
        font-weight: 300;
        font-size: 1.8rem;
        margin-bottom: 1em;
        display: block;
    }
}

.where {
    object-fit: cover;
    min-height: 800px;
}

.contact {
    max-width: 75%;
    margin: 0 auto;
    position: relative;

    & > div {
        position: absolute;
        right: 0;
        bottom: 0;
        background: white;
        padding-top: 4.2em;
        width: 550px;
    }

    .headline-wrap {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 0.6em;
        border-bottom: 1px solid $colorDarkGreen;
        color: $colorDarkGreen;
    }

    .form {
        max-width: 90%;
        margin: 0 auto;
        padding: 4em 0;

        .field {
            margin-bottom: 1.8em;
        }

        .submit {
            text-align: right;
        }
    }
}

.dialog-button {
    text-align: right;
}
