@import 'constants/colors';

.input-wrapper {
    display: flex;
    background-color: $gray300;
    border-radius: 4px;
    padding: 2px 10px;
}

.suffix {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $gray700;
}

.input {
    display: inline-flex;
    width: 100%;
}
