@import "constants/colors";

.footer {
    position: relative;
    z-index: 3;

    .greeting {
        color: $colorGray;
        text-align: center;
        font-weight: 500;
        font-size: 1.2em;
    }

    .copyright {
        text-align: center;
        margin-top: 0;
    }
}
